/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: PatternedRowsBold;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 13;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 16px;
	border-left-color: #808080;
	border-right-color: #808080;
	border-top-color: #808080;
	border-bottom-color: #808080;
}

mcTableColumnStyle
{
	span: 1;
	id: 13;
	name: Column1;
	font-weight: bold;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	cell-content-style-tag: none;
}

mcTableColumnStyle
{
	span: 19;
	name: Regular;
	id: 0;
	type: Automatic;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #808080;
	cell-content-style-tag: none;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #326295;
	name: Header1;
	id: 2;
	color: #ffffff;
	vertical-align: top;
	font-family: Roboto;
	cell-content-style-class: TableTextLightEmphasis;
	text-align: left;
	font-weight: bold;
	font-size: 10pt;
	cell-padding-top: 7pt;
	cell-padding-bottom: 7pt;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	cell-content-style-tag: none;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	font-size: 10pt;
	font-family: Arial;
	cell-content-style-tag: none;
	cell-content-style-class: FieldName;
	text-align: left;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: DarkRows;
	font-family: Arial;
	separator-style: solid;
	separator-width: 1px;
	background-color: #f5f5f5;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	separator-color: #808080;
	cell-content-style-tag: none;
}


/* Cell Styles: */
 
.TableStyle-PatternedRowsBold
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-top: 10px;
	margin-bottom: 16px;
	border-spacing: 0px 0px;
}

.TableStyle-PatternedRowsBold-Column-Column1
{
	
}

.TableStyle-PatternedRowsBold-Column-Regular
{
	
}

.TableStyle-PatternedRowsBold-Head-Header1
{
	
}

.TableStyle-PatternedRowsBold-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadI-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadE-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadF-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadH-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-HeadD-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadC-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadB-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadA-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #326295;
	padding-top: 7pt;
	padding-bottom: 7pt;
}

.TableStyle-PatternedRowsBold-HeadG-Regular-Header1 p
{
	color: #ffffff;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootI-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootE-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootF-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootH-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootD-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootC-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootB-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootA-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootG-Column1- p
{
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-FootI-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootI-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootE-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootE-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootF-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootF-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootH-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootH-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootD-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRowsBold-FootD-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootC-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootC-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootB-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-FootB-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootA-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRowsBold-FootA-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-FootG-Regular-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRowsBold-FootG-Regular- p
{
	
}

.TableStyle-PatternedRowsBold-Body-LightRows
{
	
}

.TableStyle-PatternedRowsBold-BodyI-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyI-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyE-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyE-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyF-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyF-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyH-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyH-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyD-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyD-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyC-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyC-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyB-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyB-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyA-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyA-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyG-Column1-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyG-Column1-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyI-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyE-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyF-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyH-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-BodyD-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyC-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyB-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-PatternedRowsBold-BodyA-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-PatternedRowsBold-BodyG-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-Body-DarkRows
{
	
}

.TableStyle-PatternedRowsBold-BodyI-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyI-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyE-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyE-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyF-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyF-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyH-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyH-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyD-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyD-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyC-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyC-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyB-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyB-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyA-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyA-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyG-Column1-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyG-Column1-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-PatternedRowsBold-BodyI-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyI-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyE-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyE-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyF-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyF-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyH-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyH-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyD-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-PatternedRowsBold-BodyD-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyC-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyC-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyB-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-PatternedRowsBold-BodyB-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyA-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
}

.TableStyle-PatternedRowsBold-BodyA-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-PatternedRowsBold-BodyG-Regular-DarkRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
}

.TableStyle-PatternedRowsBold-BodyG-Regular-DarkRows p
{
	font-family: Arial;
	font-size: 10pt;
}


